.done {
    text-decoration: line-through;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #6d6666;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}